.v-list__tile
  font-size 14px
  height 40px
  padding 0

.v-list__tile__title
  height auto

.v-list--disabled
  opacity 0.4

.v-select-list
  padding 0 8px

  .v-list__tile
    border-radius 5px
    overflow hidden

  .v-list__tile__content
    padding 0 16px

  .v-list__tile__title
    text-transform capitalize
    font-weight 500
