#app
  // background-color #e8eaef
  // font-family 'toppan-bunkyu-midashi-min-st', sans-serif
  // font-style normal
  // color #3f549c

  p
    font-family HelveticaNeue
    font-size 12px
    margin-bottom 0

  // .cn
  //   font-family 'Heiti SC', sans-serif

:root
  font-size 16px
  line-height 1.5
  font-weight 400

  @media only screen and (max-width: 340px)
    font-size 14px


.font--
  &title
    font-size 50px
    font-weight 800
    font-stretch normal
    font-style normal
    line-height 1.35
    letter-spacing 2.5px
    color #3f549c

  &subtext
    font-family DINPro
    font-size 22px
    font-weight 300
    font-stretch normal
    font-style normal
    line-height normal
    letter-spacing 0.46px
    color #3d3d3f

h1
  font-family toppan-bunkyu-midashi-min-st
  font-size 50px
  font-weight 900
  font-stretch normal
  font-style normal
  line-height 1.25
  letter-spacing 2.5px
  color #3f549c

  // @media (max-width 960px)
  //   font-size 56px
  //   letter-spacing 6.6px

  @media (max-width 600px)
    font-size 40px


  //   &.retain__size
  //     font-size 76px
  //     letter-spacing 6px

  //   &.smaller__size
  //     font-size 36px
  //     letter-spacing 4.3px

h2
  font-family toppan-bunkyu-midashi-min-st
  font-size 30px
  font-weight 800
  font-stretch normal
  font-style normal
  line-height 1.5
  letter-spacing 2px
  color #3f549c

  // @media (max-width 600px)
  //   font-size 36px
  //   letter-spacing 4.3px

// h3
//   font-size 36px
//   font-weight 600
//   letter-spacing 4.3px
//   color mudBrown
//   line-height normal
//   user-select none
