@font-face 
  font-family HelveticaNeue
  src url('~assets/fonts/HelveticaNeueLt.ttf') format('truetype')
  font-style normal
  font-weight 400

@font-face 
  font-family DINPro
  src url('~assets/fonts/DINPro.woff') format('woff')
  font-style normal
  font-weight 400
