// .page
//   @extend .fade-transition

.application a,
a:-webkit-any-link
  text-decoration none
  user-select none

// .application--wrap
//   z-index 5

.v-content
  padding 0 !important
  width 100%
  flex 0 1 auto

.v-content__wrap
  display flex
  justify-content center

.layout
  flex-wrap wrap

svg
  flex 1 1 100%

img
  display block

.v-icon
  user-select none !important

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance none
  -moz-appearance none
  appearance none
  margin 0
