.h-100
  height 100% !important

.w-100
  width 100% !important

// position
.position-absolute
  position absolute !important

.position-fixed
  position fixed !important

.position-relative
  position relative !important


// flex
.flex-0
  flex 0 0 auto !important

.flex-1
  flex 1 1 auto !important

.flex-100
  flex 1 1 100% !important

// flex flow
.wrap
  flex-wrap wrap !important

.nowrap
  flex-wrap nowrap !important


// flex direction
.row
  flex-direction row !important

.row-reverse
  flex-direction row-reverse !important

.column
  flex-direction column !important

.column-reverse-wrap
  flex-flow column-reverse wrap !important


// display
.d-none
  display none !important


// float
.float-left
  float left

.float-right
  float right


// tile
.tile
  border-radius 0 !important

.round
  border-radius 5px !important
