// coralPink = #ee6162
// mudBrown = #5a3615
// softBlue = #819ddc
// lavender = #d0b2d5
// greenishCyan = #4ce4c9
// palePeach = #f7e5b3
// themePink = #f096bd

// // admin
// adminBlue = #0d47a1
// adminLightBlue = #5472d3
// adminDarkBlue = #002171
// adminGrey = #c6c6c6
// adminLightGrey = #e1e2e1
// adminOffWhite = #f5f5f6
